.card-container {
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	height: 425px;
	padding-inline: 20%;
	background-color: var(--color-minsk-950);
	gap: 4em;
}

.card {
	display: grid;
	grid-template-rows: 0.8fr 1.75fr 0.85fr;
	padding: 2em;
	gap: 1em;
	border-radius: var(--border-2);
}
.card h3 {
	font-size: 1em;
	font-weight: 400;
}
.card h1 {
	font-size: 3em;
}
.card ul {
	padding-left: 0.5em;
	margin-left: 0.75em;
	margin-top: 0;
}
.card .card-price {
	display: flex;
	align-items: center;
	gap: 1em;
}
.card .card-price span {
	font-size: 2.5em;
}
.card.card-normal {
	background-color: var(--color-minsk-300);
}
.card.card-wide {
	background-color: var(--color-minsk-900);
}
.card.card-wide ul {
	color: var(--color-minsk-200);
}
.card.card-wide h1 {
	color: var(--color-minsk-100);
}
.card.card-wide h3 {
	color: var(--color-minsk-400);
}

.card header {
	display: grid;
	gap: 0.75em;
}
.card.card-normal h3 {
	color: var(--color-minsk-500);
}
.card.card-normal h1 {
	color: var(--color-minsk-950);
}
.card.card-normal ul {
	color: var(--color-minsk-900);
}
.card.card-normal .card-price {
	color: var(--color-minsk-950);
}

@media screen and (min-width: 1600px) {
	.card ul {
		font-size: 1.2em;
	}
	.card ul li {
		margin-block: 0.25em;
	}
}

@media screen and (max-width: 1200px) {
	.card-container {
		gap: 2em;
		grid-template-columns: 1fr 1.25fr;
	}
}

@media screen and (max-width: 900px) {
	.card-container {
		padding-inline: 10%;
		grid-template-columns: 1fr;
		height: auto;
	}
}
