.dashboard-container {
	display: grid;
	place-items: center;
	padding-inline: 10%;
	padding-top: 5em;
	padding-bottom: 12.5em;
	background: linear-gradient(#1a152c, #26175e);
    gap: 5em;
}
.dashboard {
	width: max(700px, 80%);
	min-height: 400px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: var(--border-2);
	padding: 3em;
	background-color: var(--color-secondary);

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 3em;
}
.dashboard > header {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
}

.dashboard > header h3 {
	color: var(--color-minsk-400);
	width: 100%;
	font-weight: 400;
}
.dashboard > header h1 {
	color: var(--color-minsk-300);
	margin-right: 0.25em;
}

.dashboard .card {
	padding: 2em;
	border-radius: var(--border-2);
	display: grid;
	place-items: center;
	overflow: hidden;
	flex: 1 1 200px;
	min-width: 200px;
	height: 300px;
	gap: 1.5em;
}

.card header {
	display: grid;
	gap: 0.75em;
}

.card h1 {
	color: var(--color-minsk-100);
	font-size: 2.25em;
}

.dashboard > .card p {
	color: var(--color-minsk-200);
	margin-top: 0;
	font-weight: 500;
}
.dashboard > .card > .card-detail {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.dashboard > .card > .card-detail svg {
	position: relative;
	top: 2px;
}

@media screen and (max-width: 800px) {
	.dashboard-container {
		padding-inline: 1em;
        padding-top: 0;
	}
	.dashboard {
		width: 100%;
	}
	.dashboard .card {
		padding-inline: 1em;
	}
}

@media screen and (max-width: 502px) {
	.dashboard > header a {
		margin: auto;
	}
}
