footer {
	height: 600px;
	background: linear-gradient(#26175e, #1a152c);
	flex-direction: column;
	gap: 3em;
}
footer,
footer > .heading,
.footer-links {
	display: flex;
	justify-content: center;
	align-items: center;
}
footer > .heading {
	gap: 1em;
}
.footer-logo-container {
	background-color: var(--color-minsk-50);
	width: 48px;
	height: 48px;
	border-radius: 50px;
}
.footer-logo-container > svg {
	width: 101%;
	height: 101%;
}
.footer-links {
	width: 100%;
	max-width: 650px;
	padding-inline: 2em;
	justify-content: space-between;
	color: var(--color-minsk-200);
}
@media screen and (max-width: 420px) {
	.footer-links {
		flex-direction: column;
        gap: 2em;
	}
}
