body {
	height: 100vh;
}

.form-container {
	width: 100%;
	padding-inline: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 160px);
}

.form {
	background-color: var(--color-secondary);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-right: none;
	border-radius: var(--border-2);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 2em;
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 0.75fr 0.75fr 0.75fr 2fr;
	place-items: center;
	height: 450px;
	width: 425px;
	box-shadow: 2px 0px 120px 10px #a095f03d;
}
.form h1 {
	text-align: center;
}
.form h1 b {
	color: var(--color-minsk-400);
	font-weight: 700;
}
.form-input-container {
	position: relative;
	width: 100%;
}
.form-input-container input {
	padding: 1em;
	padding-top: 1.25em;
	background-color: #4027892f;
	border: 1px solid rgba(255, 255, 255, 0.247);
	border-radius: var(--border-2);
	width: 100%;
	color: var(--color-minsk-100);
}
.form-input-container input:focus {
	outline: none;
	border: 1px solid var(--color-minsk-300);
}
.form-input-container label {
	position: absolute;
	top: 20px;
	left: 10px;
	color: var(--color-minsk-100);
	font-weight: 4500;
	transform-origin: top left;
	transition: all 300ms ease-in-out;
}

.form .btn-container {
	grid-column: span 5;
	width: 100%;
	display: grid;
	grid-template-columns: 3fr 2fr;
	gap: 1em;
}

.form .btn {
	width: 100%;
}

.form-checkbox {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	grid-column: span 5;
	margin-left: 1em;
	margin-top: 0.5em;
	gap: 1em;
}
.form-checkbox label {
	white-space: nowrap;
}
.form-checkbox input {
	all: unset;
	width: 28px;
	height: 28px;
	border-radius: var(--border-1);
	background-color: var(--color-minsk-900);
	transition: background-color 200ms ease;
}
.form-checkbox input:checked {
	background-color: var(--color-minsk-400);
	background-image: url("../assets/checkmark.svg");
	background-position: center;
}

.form-image {
	border-top-right-radius: var(--border-2);
	border-bottom-right-radius: var(--border-2);
	overflow: hidden;
	width: 375px;
	height: 450px;
	position: relative;
	background-color: var(--color-minsk-800);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.form-image h2 {
	text-align: center;
	padding-inline: 1em;
}

.form label.set {
	transform: translateY(-14.5px) scale(0.9);
	color: var(--color-minsk-400);
}

@media screen and (min-width: 1800px) {
	.form {
		width: 550px;
		height: 500px;
	}
	.form-image {
		height: 500px;
		width: 400px;
	}
}

@media screen and (max-width: 1000px) {
	.form-container {
		border-radius: 0;
		flex-direction: column;
		gap: 2em;
	}
	.form,
	.form-image {
		max-width: 550px;
		width: 100%;
		border-radius: var(--border-2);
	}
	.form-image {
		height: 150px;
		gap: 0;
	}
	.form {
		border-right: 1px rgba(255, 255, 255, 0.5) solid;
	}
}

@media screen and (max-width: 600px) {
	.form-container {
		font-size: 0.8em;
		padding-inline: 1rem;
		padding-bottom: 2em;
	}
	.btn-secondary {
		font-size: 1em;
	}
	.form {
		grid-template-rows: 1fr 0.75fr 0.75fr 0.75fr 1fr;
	}
	.form-input-container label {
		top: 16px;
	}
	.form-input-container label.set {
		transform: translateY(-10.5px) scale(0.9);
	}
}
