nav,
.nav-header,
.nav-links,
.nav-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav {
	justify-content: space-between;
	height: 160px;
	margin: auto;
	max-width: 1680px;
	min-width: 300px;
	width: calc(4 / 5 * 100%);
}
.nav-header {
	gap: 1em;
}
.nav-header h1 {
	font-weight: 500;
	font-size: 2em;
}
.nav-links {
	gap: 5em;
	position: relative;
	right: 66px;
}
.nav-buttons {
	gap: 2em;
}
.nav-buttons > a {
	text-align: center;
}
.nav-header > a {
	color: var(--color-minsk-100);
}

.burger {
	text-decoration: none;
	color: var(--color-lochmara-600);
	font-size: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.25em;
	cursor: pointer;
	z-index: 999;
}

.burger span {
	width: 56px;
	height: 8px;
	border-radius: 7px;
	background-color: var(--color-minsk-600);
	transition: all 320ms ease-out;
}

.clicked > span {
	background-color: white;
}
.clicked > span:nth-child(2) {
	rotate: 45deg;
	background-color: var(--color-minsk-600);
}

.clicked > span:first-child {
	rotate: 225deg;
	z-index: 2;
	translate: 0 15px;
}
.clicked > span:nth-child(3) {
	rotate: -45deg;
	translate: 0 -17.25px;
	z-index: 2;
}
.hidden {
	display: none !important;
}
body.menuOpen {
	overflow: hidden;
}

@media screen and (max-width: 1480px) {
	.nav-links {
		right: 0;
	}
}

@media screen and (max-width: 1280px) {
	nav,
	.nav-links,
	.nav-buttons {
		flex-direction: column;
	}
	nav {
		position: relative;
		width: 100%;
		padding-inline: 10%;
		top: 0;
	}
	.nav-header {
		height: 160px;
		width: 100%;
		position: relative;
		justify-content: flex-start;
		top: 0;
	}
	body.menuOpen > * {
		display: none;
	}
	body.menuOpen nav {
		display: flex;
		z-index: 999;
		background-color: var(--color-minsk-900);
		height: 100vh;
		width: 100%;
	}

	.burger {
		position: absolute;
		right: 0;
	}
	.nav-buttons {
		margin-bottom: 2em;
	}
}

@media screen and (max-width: 420px) {
	nav {
		padding-inline: 1rem;
	}
	.nav-header .logo-container {
		height: 50px;
		width: 50px;
	}
}
