nav,
.nav-header,
.nav-links,
.nav-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav {
	justify-content: space-between;
	height: 160px;
	margin: auto;
	max-width: 1680px;
	min-width: 700px;
	width: calc(4 / 5 * 100%);
}
.nav-header {
	gap: 1em;
}
.nav-header h1 {
	font-weight: 500;
	font-size: 2em;
}
.nav-links {
	margin-left: 100px;
	gap: 5em;
}
.nav-buttons {
	gap: 2em;
}
.nav-buttons > a {
	text-align: center;
}
