.value-container {
	display: grid;
	place-items: center;
	padding-inline: 10%;
	padding-top: 5em;
	padding-bottom: 12.5em;
	background: linear-gradient(#1a152c, #26175e);
}
.value {
	width: max(700px, 75%);
	height: 400px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: var(--border-2);
	padding: 3em;
	background-color: var(--color-secondary);

	display: grid;
	grid-template-rows: 2fr 3fr;
	grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

.value header {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.value header h3 {
	color: var(--color-minsk-400);
	font-weight: 400;
}
.value header h1{
    color: var(--color-minsk-300)
}
.value .value-example {
	display: grid;
	grid-template-rows: 50px 1fr;
	gap: 1em;
}
.value-example .value-example-text {
	position: relative;
	left: 7.5px;
}
.value-example .img-container {
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
}
.value-example .value-example-text p {
	font-size: 0.75em;
	margin-top: 0.3em;
	color: var(--color-minsk-300);
}
.img-container > svg {
	height: 100%;
}
