/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}

body {
	background-color: var(--color-bg);
	font-family: var(--font-normal);
	color: var(--color-minsk-100);
	font-size: 1rem;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
}
a:not(.btn) {
	font-family: var(--font-heading);
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	font-family: var(--font-heading);
}
.col-span-1 {
	grid-column: span 1;
}
.col-span-2 {
	grid-column: span 2;
}
.col-span-3 {
	grid-column: span 3;
}
.row-span-1 {
	grid-column: span 1;
}
.row-span-2 {
	grid-column: span 2;
}
.row-span-3 {
	grid-column: span 3;
}
.m-auto {
	margin: auto;
}
/* Margin Top */
.mt-0 {
	margin-top: 0px;
}
.mt-1 {
	margin-top: 4px;
}
.mt-2 {
	margin-top: 8px;
}
.mt-3 {
	margin-top: 12px;
}
.mt-4 {
	margin-top: 16px;
}
.mt-5 {
	margin-top: 20px;
}
.mt-6 {
	margin-top: 24px;
}
.mt-8 {
	margin-top: 32px;
}
.mt-10 {
	margin-top: 40px;
}
.mt-12 {
	margin-top: 48px;
}
.mt-16 {
	margin-top: 64px;
}

/* Margin Bottom */
.mb-0 {
	margin-bottom: 0px;
}
.mb-1 {
	margin-bottom: 4px;
}
.mb-2 {
	margin-bottom: 8px;
}
.mb-3 {
	margin-bottom: 12px;
}
.mb-4 {
	margin-bottom: 16px;
}
.mb-5 {
	margin-bottom: 20px;
}
.mb-6 {
	margin-bottom: 24px;
}
.mb-8 {
	margin-bottom: 32px;
}
.mb-10 {
	margin-bottom: 40px;
}
.mb-12 {
	margin-bottom: 48px;
}
.mb-16 {
	margin-bottom: 64px;
}

/* Margin Left */
.ml-0 {
	margin-left: 0px;
}
.ml-1 {
	margin-left: 4px;
}
.ml-2 {
	margin-left: 8px;
}
.ml-3 {
	margin-left: 12px;
}
.ml-4 {
	margin-left: 16px;
}
.ml-5 {
	margin-left: 20px;
}
.ml-6 {
	margin-left: 24px;
}
.ml-8 {
	margin-left: 32px;
}
.ml-10 {
	margin-left: 40px;
}
.ml-12 {
	margin-left: 48px;
}
.ml-16 {
	margin-left: 64px;
}

/* Margin Right */
.mr-0 {
	margin-right: 0px;
}
.mr-1 {
	margin-right: 4px;
}
.mr-2 {
	margin-right: 8px;
}
.mr-3 {
	margin-right: 12px;
}
.mr-4 {
	margin-right: 16px;
}
.mr-5 {
	margin-right: 20px;
}
.mr-6 {
	margin-right: 24px;
}
.mr-8 {
	margin-right: 32px;
}
.mr-10 {
	margin-right: 40px;
}
.mr-12 {
	margin-right: 48px;
}
.mr-16 {
	margin-right: 64px;
}

/* Margin Y (top + bottom) */
.my-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.my-1 {
	margin-top: 4px;
	margin-bottom: 4px;
}
.my-2 {
	margin-top: 8px;
	margin-bottom: 8px;
}
.my-3 {
	margin-top: 12px;
	margin-bottom: 12px;
}
.my-4 {
	margin-top: 16px;
	margin-bottom: 16px;
}
.my-5 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.my-6 {
	margin-top: 24px;
	margin-bottom: 24px;
}
.my-8 {
	margin-top: 32px;
	margin-bottom: 32px;
}
.my-10 {
	margin-top: 40px;
	margin-bottom: 40px;
}
.my-12 {
	margin-top: 48px;
	margin-bottom: 48px;
}
.my-16 {
	margin-top: 64px;
	margin-bottom: 64px;
}

/* Margin X (left + right) */
.mx-0 {
	margin-left: 0px;
	margin-right: 0px;
}
.mx-1 {
	margin-left: 4px;
	margin-right: 4px;
}
.mx-2 {
	margin-left: 8px;
	margin-right: 8px;
}
.mx-3 {
	margin-left: 12px;
	margin-right: 12px;
}
.mx-4 {
	margin-left: 16px;
	margin-right: 16px;
}
.mx-5 {
	margin-left: 20px;
	margin-right: 20px;
}
.mx-6 {
	margin-left: 24px;
	margin-right: 24px;
}
.mx-8 {
	margin-left: 32px;
	margin-right: 32px;
}
.mx-10 {
	margin-left: 40px;
	margin-right: 40px;
}
.mx-12 {
	margin-left: 48px;
	margin-right: 48px;
}
.mx-16 {
	margin-left: 64px;
	margin-right: 64px;
}

/* Full margin */
.m-0 {
	margin: 0px;
}
.m-1 {
	margin: 4px;
}
.m-2 {
	margin: 8px;
}
.m-3 {
	margin: 12px;
}
.m-4 {
	margin: 16px;
}
.m-5 {
	margin: 20px;
}
.m-6 {
	margin: 24px;
}
.m-8 {
	margin: 32px;
}
.m-10 {
	margin: 40px;
}
.m-12 {
	margin: 48px;
}
.m-16 {
	margin: 64px;
}
.delay-1 {
	transition-delay: 100ms;
}
.delay-2 {
	transition-delay: 200ms;
}
.delay-3 {
	transition-delay: 300ms;
}
.delay-4 {
	transition-delay: 400ms;
}
.delay-5 {
	transition-delay: 500ms;
}
.unseen {
	opacity: 0;
	transform: translateX(-75px);
	transition-duration: 700ms;
	transition-timing-function: ease-out;
	transition-property: opacity, transform;
}
.unseen.up {
	transform: translateX(0) translateY(75px);
}
.unseen.right {
	transform: translateX(75px);
}
h2.unseen,
h1.unseen,
main.unseen {
	transition: transform 600ms ease;
}
.unseen.show,
h2.show {
	opacity: 1;
	transform: translateX(0) translateY(0);
}
.w-full {
	width: 100%;
}
.flex-default {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	color: var(--color-minsk-50);
	font-size: 1.25em;
	padding: 0.75em 2.25em;
	border-radius: var(--border-1);
}
.btn-cta {
	background-color: var(--color-cta);
}
.btn-secondary {
	background-color: var(--color-secondary);
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.logo-container {
	background-color: var(--color-minsk-50);
	width: 67px;
	height: 67px;
	border-radius: 50px;
}
